include head.pug
main
	section.perfil
		img(class="perfil__avatar" src="../images/avatar.png")
		h2.perfil__nombre Shrek
		h3.perfil__titulo Un loquillo
		a(href="#" class="perfil__boton") Seguir
		.estadistica--perfil
			+stats("420k", "Seguidores")
			+stats("69k", "Siguiendo")
			+stats("101", "Articulos")
		.perfil__minibio
			h2 Acerca de Mi
			h3 Soy un ogro verde, gruñón, es altamente territorial que ama la soledad.
		.ubicacion--perfil
			i.fas.fa-map-marker-alt
			h2 The Swamp
			h3 100km Cerca
		.galeria
			h2 Mis Fotos
			.galeria__foto-principal: img(src="../images/shrek1.png" width="127")
			.galeria__fotos-adicionales
				img(src="../images/shrek2.png" width="160")
				img(src="../images/shrek3.png" width="60")
				img(src="../images/shrek4.png")
				img(src="../images/shrek5.png", width="50px" alt="")
				img(src="../images/shrek6.png", alt="")
	aside.amigos
		+amigos("fiona",../imagenes/avatarfiona.png)
		+amigos()
		+amigos()